<a href="https://colab.research.google.com/github/Angelaaa-hub/Mini-tasks-/blob/main/Mini_dicts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create a dictionary called student with:
# Keys: "name", "age", "grade"
# Values: "Alice", 14, "B"

In [ ]:
# 1.1. Access and print the student's name from the dictionary.

In [ ]:
# 1.2. Change the student's grade to "A".

In [ ]:
# 1.3. Add a new key called "school" with the value "Greenwood High".

In [ ]:
# 1.4. Delete the "age" key from the dictionary.

In [ ]:
# 2. Loop through the following dictionary and print each key and value:
person = {"name": "Bob", "age": 30, "city": "Nairobi"}

In [ ]:
# 2.1. Loop through and print only the keys from the dictionary above.

In [ ]:
# 2.2. Loop through and print only the values.

In [ ]:
# 2.3. Use .get() to retrieve the value of a key called "email" from person. If it doesnâ€™t exist, return "Not provided".

In [ ]:
# 2.4. Check if the key "city" exists in the dictionary.

In [ ]:
# 2.5. Use .update() to add or modify multiple values:
# Update "city" to "Mombasa" and add "email": "bob@example.com"

In [ ]:
# 3. Create a list of 3 students, each represented as a dictionary:
# Each dictionary should have keys: "name", "age", "grade"

In [ ]:
# 3.1. Loop through the list and print the name and grade of each student.

In [ ]:
# 3.2. Write a loop to calculate the average grade (assuming grades are numbers).

In [ ]:
# 4. Create a dictionary to count how many times each word appears in this list:
# Output should be:
# {"apple": 3, "banana": 2, "cherry": 1}
words = ["apple", "banana", "apple", "cherry", "banana", "apple"]

In [ ]:
# 5. Build a simple phonebook:
# Ask the user to enter names and phone numbers
# Store them in a dictionary
# Allow the user to look up numbers by name

In [ ]:
student = {
    "name": "Alice",
    "age": 14,
    "grade": "B"
}

print(student["name"])

Alice

In [ ]:
student["grade"] = "A"
print(student)

{'name': 'Alice', 'age': 14, 'grade': 'A'}

In [ ]:
student["school"] = "Greenwood High"
print(student)

{'name': 'Alice', 'age': 14, 'grade': 'A', 'school': 'Greenwood High'}

In [ ]:
del student["age"]
print(student)

{'name': 'Alice', 'grade': 'A', 'school': 'Greenwood High'}

In [ ]:
person = {"name": "Bob", "age": 30, "city": "Nairobi"}

for key in person.items():
    print(key)

('name', 'Bob')
('age', 30)
('city', 'Nairobi')

In [ ]:
for key in person:
  print(key)

name
age
city

In [ ]:
for value in person.values():
  print(value)

Bob
30
Nairobi

In [ ]:
email = person.get("email", "Not provided")
print(email)

Not provided

In [ ]:
if "city" in person:
  print("City exists in the dictionary.")
else:
  print("City does not exist in the dictionary.")

City exists in the dictionary.

In [ ]:
person.update({"city": "Mombasa", "email": "bob@example.com"})
print(person)

{'name': 'Bob', 'age': 30, 'city': 'Mombasa', 'email': 'bob@example.com'}

In [ ]:
students = [
    {"name": "Alice", "age": 14, "grade": "A"},
    {"name": "Bob", "age": 15, "grade": "A"},
    {"name": "Charlie", "age": 16, "grade": "A"}
]

In [ ]:
for student in students:
    print(student["name"], student["grade"])

Alice A
Bob A
Charlie A

In [ ]:
students = [
    {"name": "Alice", "age": 14, "grade": "96"},
    {"name": "Bob", "age": 15, "grade": "90"},
    {"name": "Charlie", "age": 16, "grade": "85"}
]

In [ ]:
total = 0
count = 0

for student in students:
    total += int(student["grade"])
    count += 1

average_grade = total / count
print(f"The average grade is: {average_grade}")

The average grade is: 90.33333333333333

In [ ]:
words = ["apple", "banana", "apple", "cherry", "banana", "apple"]

In [ ]:
word_count = {}

for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print(word_count)

{'apple': 3, 'banana': 2, 'cherry': 1}

In [ ]:
phone_book = {}

while True:
    name = input("Enter a name (or 'q' to quit): ")
    if name == 'q':
        break
    phone_number = input("Enter a phone number: ")
    phone_book[name] = phone_number
    print(f"{name}'s phone number has been added to the phone book.")

    lookup_name = input("Enter a name to look up a phone number (or 'q' to quit): ")
    if lookup_name == 'q':
        break

    if lookup_name in phone_book:
        print(f"{lookup_name}'s phone number is {phone_book[lookup_name]}.")
    else:
        print(f"{lookup_name} is not in the phone book.")

Enter a name (or 'q' to quit): Alice
Enter a phone number: 0712345678
Alice's phone number has been added to the phone book.
Enter a name to look up a phone number (or 'q' to quit): Bob
Bob is not in the phone book.
Enter a name (or 'q' to quit): q